/*defaults*/

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }  

  body {
    margin: 0;
    padding: 0;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  img {
    display: block;
  }

  :root {
    --blue: #2a7de1;
    --red: #ee2d24;
    --yellow: #ffd838;
    --navy: #2b2d6e;
    --white: #ffffff;
    --black: #000000;
    --font-Warner: "Warner Bros Sans", sans-serif;
    --font-Jost: "Jost", sans-serif;
    --font-Lato: "Lato", sans-serif;
  }

/*fonts*/

h1,h2 {
  font-family:var(--font-Warner);
  color: var(--blue);
}

h2 {
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
}

h2.nws-header {
  color: white;
  font-size: 30px;
  line-height: 27px;
}

h3 {
  font-family: var(--font-Jost);
  margin: 15px 10px;
}

h4 {
  font-family: var(--font-Jost);
  font-weight: 900;
  font-size: 32px;
}

h5 {
  font-family: var(--font-Warner);
  font-weight: bold;
  font-size: 28px;
}

p {
  font-family: var(--font-Lato);
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
}

p.nws-paragraph {
  color: var(--white);
  font-size: 16px;
  text-transform: none;
}

p.disclaimer {
  font-size: 8pt;
  text-transform: none;
}

p.disclaimer a {
  color: white;
  text-decoration: underline;
}

button {
  font-family: var(--font-Lato);
  font-weight: 900;
  font-size: 16px;
  line-height: 1em;
  text-align: center;
}

/*header*/

.site-header {
  background-color: var(--white);
  height: 50px;
  box-shadow: 0 6px 10px #0000004d !important;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.sub-nav {
  font-family: var(--font-Warner);
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.sub-nav__list {
  list-style: none;
  position: absolute;
  top: 20px;
  width: max-content;
  left: 0;
  right: 0; 
}

.sub-nav__item {
  height: 100%;
  position: static;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 30px;
}

.site-nav {
    font-family: var(--font-Warner);
    font-size: 12px;
    font-weight: 900;
    margin-left: 30px;
    text-transform: uppercase;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
  
.site-nav__list {
    list-style: none;
    position: absolute;
    margin-left: 100px;
}

 .site-nav__item {
    height: 100%;
    display: inline-block;
    padding: 0 15px;
  }

  /*logos*/

.wblogo {
  width: 50%;
}

.site-logo {
  margin-right: auto;
}

.logo-tl {
    position: absolute;
    bottom: 300px;
    left: 100px;
    width: 25%;
    padding: 10px;
    margin: 0 60px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-flow: column;
    justify-content: flex-start;
  }

  /*links*/

a:link {
    color: var(--black);
    text-decoration: none;
    vertical-align: middle;
  }

  .sub-nav__item a {
    color: var(--white);
    text-decoration: none;
    vertical-align: middle;
  }

  .sub-nav__item a:hover {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    color: var(--white);
  }

  .sub-nav__item a:visited {
    color: var(--white);
  }

  .sub-nav__item a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.25s ease-out;
  }

  .sub-nav__item a:hover::before {
    width: 100%;
  }

a:visited {
    color: var(--black);
    text-decoration: none;
  }
a:hover {
    color: #25329a;
    text-decoration: none;
  }
a:active {
    color: var(--black);
    text-decoration: none;
  }

a.save {
    color: var(--white);
    text-decoration: underline;
  }

   /* grids */

   .believe {
    max-width: 1500px;
    max-height: 120px;
    text-align: center;
   }

   .grid-believe {
    background-color: var(--white);
    margin: 60px 0;
}

  .grid-believe__products {
    background-color: var(--white);
    margin-right: 20px;
    padding: 10px 40px;
    width: 100%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
    place-items: center;
    position: relative;
    /*scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    display: flex;
    flex-shrink: 0;
    gap: 40px;
    overflow-x: auto;*/
}

  .grid-believe__products.item {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    
}

  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: var(--blue);
  }

  .btn:active {
    transform: scale(1.1);
}

  .btn-prev {
    top: 45%;
    left: 2%;
}

  .btn-next {
    top: 45%;
    right: 2%;
}


   /* banners */

.container--signup {
    max-width: 100%;
    text-align: center;
  }

.signup {
    background-color: #1b2571;
    width: 100%;
    height: 40px;
    margin: 0;
    padding-top: 0.25px;
    padding-bottom: 8px;
}

.image--tl {
  max-width: 100%;
  height: auto;
}

.caption {
  color: var(--black);
  padding: 1px 20px;
  line-height: 1.3;
  text-transform: none;
  text-align: center;
}

 .colorblock {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .follow__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 160px;
}

.twitter {
  width: 40px;
}

.follow__item {
  list-style: none;
}

.follow__item a {
  color: var(--white);
  text-decoration: none;
}

.bnr-richmond {
  width: 100%;
  margin: auto;
}

/* Buttons */

.view-button {
  max-width: 150px;
  margin: 10px auto;
  display: block;
}

button {
  border: 2px solid var(--black);
  background-color: transparent;
  height: 50px;
  padding: 0 25px;
  display: block;
  margin: auto;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--blue);
  color: white;
  border: none;
}

.button--collection {
  position: absolute;
  bottom: 200px;
  left: 180px;
  color: var(--white);
  border: 2px solid white;
  }

.button--richmond {
  position: absolute;
  bottom: 75px;
  left: 138px;
  color: var(--white);
  border: 2px solid white;
  }

.button--richmond:hover {
  background-color: #25329a;
  color: white;
  border: none;
  }

.button--subscribe {
  color: var(--white);
  border: 2px solid white;
  }

.button--subscribe:hover {
  background-color: var(--blue);
  color: white;
  border: none;
  }

  /* Form */

.newsletter {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 12px;
  line-height: 27px;
  text-align: center;
  }

.container--newsletter {
  position: relative;
  display: block;
  bottom: 315px;
  }

  .wb-tower {
    width: 100%;
    margin: auto;
  }

  label, input {
    position: relative;
    box-sizing: border-box;
    padding: 14px 60px;
    color: grey;
}
