<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet"> 
    <link href="..//components/fonts//@font-face/72e6f2ba2c00b010fad3c298da6f34c2.ttf" rel="stylesheet" type="text/css"/> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//css/normalize.css">
    <link rel="stylesheet" href="..//css/main.css">
    <title>Components - Ted Lasso Merch</title>
</head>
<body>
    <header>
        <h1>Web Components Go Here</h1>
        <h2>Cover</h2>
        <h3>Site Nav</h3>
        <img class="screenshot" src="..//components/images/main-nav.jpg" alt="main-nav">
        <div class="site-nav">
            <ul class="site-nav__list">
                <li class="site-nav__item"><img class="wblogo" src="..//components/images/WBShopLogo.png" alt="WB Shop">
                <li class="site-nav__item"><a href="#!">WB 100th</a></li>
                <li class="site-nav__item"><a href="#!">Ted Lasso</a></li>
                <li class="site-nav__item"><a href="#!">Featured</a></li>
                <li class="site-nav__item"><a href="#!">Shop By Title</a></li>
                <li class="site-nav__item"><a href="#!">Categories</a></li>
                <li class="site-nav__item"><a href="#!">Experiences</a></li>
            </ul>
        </div>
        <h3>Video</h3>
            <img class="screenshot" src="..//components/images/cover-video.jpg" alt="screenshot">
        <video autoplay muted loop id="believe">
            <source src="..//components/images/TedLassCoverVideo.mp4" type="video/mp4">
        </video>
        <!-- <div class="logo-tl">
            <img src="..//components/images/logo-tl.png" alt="ted lasso">
        </div> -->
    </header>
    <div>
        <h2>Headers</h2>
        <img class="screenshot" src="..//components/images/section__header.jpg" alt="believe">
        <h2 class="believe">we believe in belive</h2>
    </div>
    <img class="screenshot" src="..//components/images/screenshot_tedlasso.jpg" alt="screenshot">
        <div class="container--signup">
            <div class="signup">
                <p>sign up for our newsletter and <a class="save" href="#!">save 15%</a></p>
            </div>
            <img class="image--tl" src="..//components/images/banner_tedlasso.jpg" alt="Ted Lasso">
            <p class="caption">The official Ted Lasso collection features Ted Lasso shirts, A.F.C. Richmond jerseys, hats, jackets and other gear you see on the show. Show off your fandom with tees, mugs and totes featuring your favorite Ted Lasso quotes and moments from the show. Whether you are watching Premier League football on Sunday morning or kicking back and watching Ted Lasso take on European Futbol, you'll be proud to show off your official Ted Lasso t-shirts, jerseys, mugs and more.</p>
        </div>
    <div>
        <h2>Banners</h2>
        <img class="screenshot" src="..//components/images/banner-social.jpg" alt="social banner">
            <div>
                <img class="colorblock" src="..//components/images/colorblock.png" alt="color block">
                <div class="social">
                    <h4><a class="followtl" href="https://twitter.com/TedLasso">FOLLOW @TEDLASSO <img class="twitter" src="..//components/images/twitter-logo-2429.svg" alt="twitter icon"> #WEARERICHMOND</a>
                    </h4>
                </div>
            </div>


</body>
</html>