<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet"> 
    <link href="..//components/fonts//@font-face/72e6f2ba2c00b010fad3c298da6f34c2.ttf" rel="stylesheet" type="text/css"/> 
    <link rel="stylesheet" href="..//css/normalize.css">
    <link rel="stylesheet" href="..//css/main.css">
    <title>Components - Ted Lasso Merch</title>
</head>
<body>
    <header>
        <h1>Web Components Go Here</h1>
        <h2>Cover</h2>
        <h3>Site Nav</h3>
        <img class="screenshot" src="..//components/images/main-nav.jpg" alt="main-nav">
        <div class="site-nav">
            <ul class="site-nav__list">
                <li class="site-nav__item"><img class="wblogo" src="..//components/images/WBShopLogo.png" alt="WB Shop">
                <li class="site-nav__item"><a href="#!">WB 100th</a></li>
                <li class="site-nav__item"><a href="#!">Ted Lasso</a></li>
                <li class="site-nav__item"><a href="#!">Featured</a></li>
                <li class="site-nav__item"><a href="#!">Shop By Title</a></li>
                <li class="site-nav__item"><a href="#!">Categories</a></li>
                <li class="site-nav__item"><a href="#!">Experiences</a></li>
            </ul>
        </div>
        <h3>Video</h3>
            <img class="screenshot" src="..//components/images/cover-video.jpg" alt="screenshot">
        <video autoplay muted loop id="believe">
            <source src="..//components/images/TedLassCoverVideo.mp4" type="video/mp4">
        </video>
        <!-- <div class="logo-tl">
            <img src="..//components/images/logo-tl.png" alt="ted lasso">
        </div> -->
    </header>
    <div>
        <h2>Header</h2>
        <img class="screenshot" src="..//components/images/section__header.jpg" alt="believe">
        <h2>we believe in belive</h2>
    </div>
    <div>
        <h2>Card</h2>
        <img class="screenshot" src="..//components/images/section__card.jpg" alt="dart board">



</body>
</html>