<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet"> 
    <link href="..//components/fonts//@font-face/72e6f2ba2c00b010fad3c298da6f34c2.ttf" rel="stylesheet" type="text/css"/> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..//components/css/normalize.css">
    <link rel="stylesheet" href="..//components/css/main.css">
    <title>Components - Ted Lasso Merch</title>
</head>
<body>
        <div>
            <h1>Web Components Go Here</h1>
            <!--Nav Header-->
            <h2>Cover</h2>
            <h3>Site Nav</h3>
            <img class="screenshot" src="..//components/images/main-nav.jpg" alt="main-nav">
        </div>
        <div>
            <nav class="site-nav">
                <div class="site-logo"><a target="_blank" href="https://wbshop.com/"><img class="wblogo" src="..//components/images/WBShopLogo.png" alt="WB Logo"></a>
                </div>
                <ul class="site-nav__list">
                    <li class="site-nav__item"><a href="#!">WB 100th</a></li>
                    <li class="site-nav__item"><a href="#!">Ted Lasso</a></li>
                    <li class="site-nav__item"><a href="#!">Featured</a></li>
                    <li class="site-nav__item"><a href="#!">Shop By Title</a></li>
                    <li class="site-nav__item"><a href="#!">Categories</a></li>
                    <li class="site-nav__item"><a href="#!">Experiences</a></li>
                </ul>
            </nav>
        </div>
        <div>

            <!--Video-->
            <h3>Video</h3>
            <img class="screenshot" src="..//components/images/cover-video.jpg" alt="screenshot">
        </div>
        <div class="container">
            <div class="sub-nav">
                <ul class="sub-nav__list">
                    <li class="sub-nav__item"><a class="sub-nav__link" href="#!">new arrivals</a></li>
                    <li class="sub-nav__item"><a href="#!">clothing</a></li>
                    <li class="sub-nav__item"><a href="#!">jerseys</a></li>
                    <li class="sub-nav__item"><a href="#!">drinkware</a></li>
                    <li class="sub-nav__item"><a href="#!">home &amp; office</a></li>
                    <li class="sub-nav__item"><a href="#!">accessories</a></li>
                    <li class="sub-nav__item"><a href="#!">shop all</a></li>
                </ul>
            </div>
            <div>
                <video autoplay muted loop id="believe">
                    <source src="..//components/images/TedLassCoverVideo.mp4" type="video/mp4">
                </video>
            </div>
            <div class="logo-tl">
                <img src="..//components/images/logo-tl.png" alt="ted lasso">
            </div>
            <div>
                <button class="button--collection">shop the collection</button>
            </div>
        </div>
    <div>

        <!--Headers-->
        <h2>Headers</h2>
        <img class="screenshot" src="..//components/images/section__header.jpg" alt="believe">
        <h2 class="believe">we believe in believe</h2>
    </div>
    <img class="screenshot" src="..//components/images/screenshot_tedlasso.jpg" alt="screenshot">
        <div class="container--signup">
            <div class="signup">
                <p>sign up for our newsletter and <a class="save" href="#!">save 15%</a></p>
            </div>
            <img class="image--tl" src="..//components/images/banner_tedlasso.jpg" alt="Ted Lasso">
            <p class="caption">The official Ted Lasso collection features Ted Lasso shirts, A.F.C. Richmond jerseys, hats, jackets and other gear you see on the show. Show off your fandom with tees, mugs and totes featuring your favorite Ted Lasso quotes and moments from the show. Whether you are watching Premier League football on Sunday morning or kicking back and watching Ted Lasso take on European Futbol, you'll be proud to show off your official Ted Lasso t-shirts, jerseys, mugs and more.</p>
        </div>

        <!--Banners-->
        <h2>Banners</h2>
        <img class="screenshot" src="..//components/images/banner-social.jpg" alt="social banner">
                    <ul class="follow__list">
                        <li class="follow__item">
                            <h5><a target="_blank" href="https://twitter.com/TedLasso">FOLLOW @TEDLASSO</a></h5>
                        </li>
                        <li class="follow__item">
                            <a target="_blank" href="https://twitter.com/TedLasso"><img class="twitter" src="..//components/images/twitter-logo-2429.svg" alt="twitter icon"></a>
                        </li>
                        <li class="follow__item">
                            <h5><a target="_blank" href="https://twitter.com/TedLasso">#WEARERICHMOND</a></h5>
                        </li>
                    </ul>
                <div>
                    <img class="colorblock" src="..//components/images/colorblock.png" alt="color block">
                </div>
                    <img class="screenshot" src="..//components/images/feature__richmond.jpg" alt="Richmond">
                <div class="container">
                    <img class="bnr-richmond" src="..//components/images/PromoBanner_WeAreRichmond.png" alt="Richmond">
                    <button class="button--richmond">shop a.f.c. richmond collection</button>
                </div>

                <!--Buttons-->
    <div>
        <h2>Buttons</h2>
        <img class="view-button" src="..//components/images/view-button.jpg" alt="view button">
        <div>
            <button>VIEW ALL</button>
        </div>
    </div>

    <!--Form-->
    <h2>Form</h2>
    <img class="screenshot" src="..//components/images/hero--signup.jpg" alt="Sign Up">
    <div class="newsletter">
        <div>
            <img class="wb-tower" src="..//components/images/Newsletter-DefaultBkgd.webp" alt="Sign Up">
        </div>
        <div class="container--newsletter">
        <h2 class="nws-header">Sign up &amp; save</h2>
        <p class="nws-paragraph">Sign up for our newsletter and SAVE 15% on your next order.</p>
        <form action="my-form.php" method="post">
            <label>
            <input type="email" placeholder="Enter your email">
            </label>
        </form>
            <p class="disclaimer">By entering your email address, you agree to receive updates, ads and offers from Warner Bros. and its <a href="#!">affiliates.</a></p>
            <p class="disclaimer">To withdraw your consent or learn more about your rights, see the <a href="#!">Privacy Policy.</a></p>
            <div>
                <button class="button--subscribe">SUBSCRIBE</button>
            </div>
        </div>
    </div>



</body>
</html>